{% extends 'base.html' %}
{% block content %}

<div class="jumbotron">

  {% if user.is_authenticated %}

  <h1 class="display-4">Hello, {{ user.first_name }} {{ user.last_name }}!</h1>
  <p class="lead">You are successfully logged in to project thesis management system</p>
  <hr class="my-4">
  <p>Please click below "Profile Page" button to view the content of your profile. <br>Also if you want to log out,
    click on
    your user name on the navigation bar and click log out.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Profile Page</a>

  {% else %}

  <h1 class="display-4">Hello, User!</h1>
  <p class="lead">You are not logged in to project thesis management system</p>
  <hr class="my-4">
  <p>Please click below "Sign In" button to log in to your profile. <br>Also if you want to sign up,
    click on the "Sign Up" button on the navigation bar and fill the form.</p>
  <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign In</a>

  {% endif %}
</div>

<div class="jumbotron bg-info">
  <div class="container">
    <h1 class="display-4">Project Thesis Management System</h1>
    <p class="lead">Created by the Students Of Northern University Bangladesh.</p>
  </div>
</div>
{% endblock content %}